
body    {
    font-family: 'nunito', 'open sans', Courier, monospace;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
}

h1,
h2,
h3{
    font-family: "alegreya";
    text-transform: uppercase;
    font-weight: 700;
}

:root   {
    --red: #8C2029;
    --blue: #2E3C8C;
    --black: #131313;
    --green: #CCFF00;
    --cyan: #00F0FF;
    --orange: #FF8A00;
    --pink: #FF005C;
    --reg: 400;
    --bold: 700;
}


/* HEADER - NAV */

#menucheckbox,
.burgermenu,
.mobile_nav_header   {
    display: none;
}

header  {
    margin-bottom: -7px;
    
}

.navigation {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 1440px;
    background-color: var(--black);
    opacity: 80%;
    z-index: 1;
}

.navigation_logo    {
    max-width: 54px;
    max-height: 40px;
    margin: auto 20px;
    margin-top: 5px;
}

.navigation_links   {
    font-family: "alegreya";
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 10px 20px;
}

.navigation_links a  {
    font-weight: var(--reg);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    
}

.header_main_img    {
    width: 100%;
    }

#explore_link   {
    color: var(--green);
}

#exhibition_link    {
    color: var(--cyan);
}

#getinvolved_link   {
    color: var(--orange);
}

#visitus_link   {
    color: var(--pink);
}

#contact_link   {
    color: white;
}

/* MAIN */

main h1 {
    font-family: "alegreya";
    text-align: center;
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper_home,
.buttons_home a   {
    position: relative;
    display: flex;
    margin: auto;
    max-width: 1200px;
    /* padding: 0px 50px; */
    justify-content: center;
    align-content: center;
}

.wrapper    {
    display: flex;
    gap: 20px;
    margin-bottom: -7px;
}

.wrap_h3  {
    font-size: 2rem;
    color: var(--red);
    text-align: center;
}

.wrap_h3_blue   {
    font-size: 2rem;
    color: var(--blue);
    text-align: center;
}

.wrap_text  {
    margin: 20px;
}


.buttons_home, 
.buttons_home a img   {
    
    margin-bottom: 20px;
}

.buttons_home img   {
    box-shadow: 3px 3px 8px black;
    border-radius: 15px;
}

.buttons_home img:hover   {
    border-radius: 10px;
    margin-right: -1px;
    box-shadow: 3px 3px 8px var(--orange);
}


.paragraph_home {
    font-family: "nunito";
    text-size-adjust: 1rem;
    margin-top: 0;
}

/* FOOTER */

footer  {
    /* position: absolute; */
    margin-top: 50px;
}

.footer_main    {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
    max-width: 1440px;
    margin: auto;
    background-color: var(--black);
    color: white;
    gap: 10px;
}

.opening_footer {
    text-align: right;
    margin-right: 20px;
}

.timetable_footer   {
    margin-top: 10px;
    text-align: left;
}

.access_footer h2  {
    margin-bottom: 58px;
    text-align: left;
    margin-right: 20px;
}

.access_footer_p,
.access_footer_p p   {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    grid-column: 3/5;
}

.footer_h2  {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 20px 0px;
}

#footer_logo    {
    position: absolute;
    max-width: 145px;
    max-height: 99px;
    margin-top: 150px;
    align-self: end;
}



/* MEDIA QUERIES */

@media (max-width: 950px)   {
    .burgermenu  {
        display: block;
        margin: 15px;
    }

    .mobile_nav_header  {
        display: block;
        color: var(--cyan);
        font-size: 1.4rem;
        margin: 10px;
    }

    .navigation {
        justify-content: space-between;
        position: unset;
        opacity: 100;
    }

    .navigation_links {
        display: none;
        margin: auto;
    }

    #menucheckbox:checked ~ #navmenu  {
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 10px;
        gap: 40px;
        background-color: var(--black);
        transition: 50ms;
    } 

    .wrapper_home   {
        flex-wrap: wrap-reverse;
    }

    .footer_main    {
        display: flex;
        flex-wrap: wrap;
    }

    #footer_logo    {
        align-self: unset;
    }
}

@media  (max-width: 450px)  {
    .mobile_nav_header {
        font-size: 1rem;
        margin-top: 15px;
        text-align: center;
    }
}

@media  (max-width: 419px)  {
    #footer_logo    {
        display: none;
    }

    .mobile_nav_header {
        font-size: 0.7rem;
        margin-top: 15px;
        text-align: center;
    }
}